{
  "presets": ["react-native"],
  "plugins": [
    "transform-decorators-legacy",
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [".android.js", ".ios.js", ".js"]
    }]
  ]
}
